#!/bin/bash -l

pipeuser=PIPEUSER

set -x

base=BASEDIR
night=NIGHTNAME
cd "${base}" || exit 1

taskid=${SLURM_ARRAY_TASK_ID}
jobid=${SLURM_ARRAY_JOB_ID}

freqs=(072-080MHz 072-103MHz 080-088MHz 088-095MHz 095-103MHz 103-111MHz 103-134MHz 111-118MHz
118-126MHz 126-134MHz 139-147MHz 139-170MHz 147-154MHz 154-162MHz 162-170MHz 170-177MHz
170-200MHz 177-185MHz 185-193MHz 193-200MHz 200-208MHz 200-231MHz 208-216MHz 216-223MHz
223-231MHz)
freq=${freqs[$SLURM_ARRAY_TASK_ID]}

singularity run $GXCONTAINER $GXBASE/gleam_x/bin/make_ra_regions.py --mask --ra_min 170 --ra_max 330 GX_D+20_DRIII_${freq}_ddmod.fits GX_D+20_DRIII_${freq}_ddmod_rms.fits GX_D+20_DRIII_${freq}_ddmod_HerA_weightmap.fits 


if [[ -e "GX_D+20_DRIII_${freq}_ddmod_HerA_weightmap.fits" ]]
then
    echo "Weightmap successful!!"
    exit 0
else
    echo "Can't find the weightmap... something went wrong"
    exit 1
fi
